/*!
 * Weave v1
 * John Ossoway
 * colours need going at top here for reference
 
 */
 
 
/* Basic colors */

body
{
background: #e8e4d9;
color: #44352d;
font-family: "prenton", sans-serif;
font-size: 15px;
}
 
a, a:link
{
color: #A62121;
text-decoration: none;
}

a:hover
{
color: #5fbf5f;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
text-decoration: none;
}

h1 , h2, h3
{
font-family: "freight-sans-pro",sans-serif;
color: #44352d;
text-shadow: #f9f8f5 -1px 1px 1px;
}

h1
{
font-size: 30px;
}

h2
{
font-size: 24px;
}

h3
{
font-size: 18px;
}

form legend
{
font-size: 16px;
line-height: 24px;
font-weight: 500;
}
 

/* Sticky footer styles */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #525252;
        margin-top: 20px;
        padding: 20px 0;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
          
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. 

      .container {
        width: auto;
        max-width: 700px;
      }
      .container .credit {
        margin: 20px 0;
      }
      */
      
      
/* Header styles */  
  
.navbar-inverse .navbar-inner {
background-color: #525252;
background-image: -moz-linear-gradient(top, #525252, #525252);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#525252), to(#525252));
background-image: -webkit-linear-gradient(top, #525252, #525252);
background-image: -o-linear-gradient(top, #525252, #525252);
background-image: linear-gradient(to bottom, #525252, #525252);
background-repeat: repeat-x;
border-color: #525252;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff525252', endColorstr='#ff525252', GradientType=0);
}   

.navbar-inverse .brand
{
font-family: "freight-sans-pro",sans-serif;
font-weight: bold;
font-size: 26px;
color: #fbf8e3;
} 

.nav .btn-small [class^="icon-"], .nav .btn-small [class*=" icon-"] {
margin-top: 1px;
}

   

/* Tab UI styles */

#signinsignuptab li
{
width: 50%;
}
 
#timeline ul, #latestactivity ul, #pinned ul, #received ul, #sent ul, #usertimeline ul, #notifications ul, #permalink ul
{
list-style-type: none;
margin-left: 0;
}

#timeline ul li ul li, #latestactivity ul li ul li, #pinned ul li ul li, #received ul li ul li, #sent ul li ul li, #usertimeline ul li ul li, #searchresults ul li ul li, #notifications ul li ul li, #permalink ul li ul li
{
display: inline;
margin-right: 10px;
}

.hero-unit
{
background: #ded8cc;
}

.hero-unit h1
{
font-size: 36px;
}

/* Navigation tabs */

.nav-tabs > li 
{
margin-bottom: -2px;
}

.nav-tabs > li > a:hover {
border-color: #dad7c1 #dad7c1 #dad7c1;
}

.nav > li > a:hover {
text-decoration: none;
background-color: #f5f0e7;
}

ul#profiletabs.nav
{
margin-bottom: 0px !important;
}

.nav-tabs > li a.notifications span.badge
{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-tabs > li.active > a.notifications, .nav-tabs > li.active > a.notifications:hover
{
background: #f5f0e7; 
display: inline-block;
}

.nav-tabs > li.active > a.sendthanks, .nav-tabs > li > a.sendthanks:hover
{
background: #f5f0e7 url('../img/icon-edit.png') no-repeat 10px 7px; 
padding-left: 40px;
display: inline-block;
}

.nav-tabs > li > a.sendthanks
{
background: url('../img/icon-edit.png') no-repeat 10px 7px;
padding-left: 40px;
display: inline-block;
}

.nav-tabs > li.active > a.timeline, .nav-tabs > li > a.timeline:hover
{
background: #f5f0e7 url('../img/icon-list.png') no-repeat 10px 7px; 
padding-left: 44px;
display: inline-block;
}

.nav-tabs > li > a.timeline
{
background: url('../img/icon-list.png') no-repeat 10px 7px;
padding-left: 44px;
display: inline-block;
}

#signinsignuptab li, #signinsignuptab li
{
text-align: center;
}

.twitterlink
{
margin-top: 20px;
border-top: dotted 1px #dad7c1;
padding-top: 10px;
}

.twitterlink img
{
margin-left: 5px;
}

#latestactivity h4
{
color: #545454;
margin-top: 20px;
border-top: solid 1px #dad7c1;
padding-top: 10px;
margin-bottom: 20px;
}

.user-info
{
margin-bottom: 20px;
}

.username h1
{
font-size: 30px;
color: #545454;
}

img.user-thumbnail
{
border: solid 1px #dad7c1;
padding: 2px;
margin: 0 10px 10px 0;
}

.user-details h4
{
font-size: 18px;
border-bottom: solid 1px #dad7c1;
padding-bottom: 5px;
}


.user-details ul
{
margin: 0;
}

.user-details li
{
list-style-type: none;
border-bottom: dotted 1px #dad7c1;
padding: 5px 0;
}

.user-details span
{
font-weight: bold;
}

#profilesettings .form-horizontal .control-group label
{
text-align: left;
}

#signin, #signup
{
padding-top: 20px;
}

#signin .form-horizontal .control-group label, #signup .form-horizontal .control-group label
{
width: 100px;
}

#signin .form-horizontal .controls, #signup .form-horizontal .controls
{
margin-left: 120px;
}

#profilesettings .form-horizontal .control-group
{
margin-bottom: 20px;
border-bottom: dotted 1px #ececec;
padding-bottom: 10px;
}

#privacysettings form ul
{
padding: 0;
margin: 0;
}

#privacysettings form ul li
{
list-style-type: none;
margin-bottom: 20px;
border-bottom: dotted 1px #ececec;
padding-bottom: 10px;
}

/* ALERT STYLES
thanks sent/received/neutral 

No interaction: grey
Sent: Green
Received: Blue
Error: Red

*/

.alert {
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#tabcontent .alert.alert-new
{
background-image: url('../img/icon-sticker-orange.png');
background-position: top left;
background-repeat: no-repeat;
  padding: 8px 8px 8px 26px;
}

#tabcontent .alert {
  padding: 8px 8px 8px 14px;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-sent {
  color: #468847;
  background-color: #e2f0d2;
  border-color: #d6e9c6;
}

.alert-sent h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-received {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-received h4 {
  color: #3a87ad;
}

.alert-neutral {
	color: #545454;
	background-color: #f6f6f6;
	border-color: #ececec;
}

.alert-neutral h4 {
  color: #545454;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 10px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.alert .alert-status-toggle
{
float: right;
font-size: 10px;
margin-left: 10px;
}

.alert .alert-status-toggle.lock a 
{
display: block;
width: 60px;
background: url('../img/icon-locked.png') no-repeat 12px 0;
padding-top: 28px;
}

.alert .alert-status-toggle.block a 
{
display: block;
width: 60px;
background: url('../img/icon-blocked.png') no-repeat 12px 0;
padding-top: 28px;
}

.alert .alert-status-toggle a:hover
{
opacity: 0.8;
-webkit-transition: all 0.3s ease;
}

.alert.alert-blocked, .alert.alert-blocked a
{
color: #ccc;
}

.alert.alert-blocked [class^="icon-"], .alert.alert-blocked [class*=" icon-"]
{
background-image: url("../img/glyphicons-halflings-grey.png");
}

.alert .actions .btn-mini [class^="icon-"], .alert .actions .btn-mini [class*=" icon-"] {
margin-top: 0px;
margin-left: 5px;
}

.alert .actions
{
clear: left;
}

.alert .actions .btn-mini 
{
padding: 0 6px 0 0;
}
		
.actions li
{
margin-right: 5px;		
}

#tabcontent .alert .alert-meta ul
{
width: 50%;
font-size: 10px;
border-top: dotted 1px #ccc;
padding-top: 5px;
margin: 5px 0;
}

#tabcontent .alert .alert-meta ul li
{
list-style-type: none;
float: left;
}

.alert .alert-meta [class^="icon-"], .alert .alert-meta [class*=" icon-"] {
margin-top: -2px;
margin-left: 3px;
}

/* search results */

#searchresults ul
{
margin: 0;
padding: 0;
}

#searchresults ul li
{
list-style-type: none;
}

/* Sign in / sign up desktop styles */

ul#signinsignuptab.side-by-side
{
padding-bottom: 20px;
padding: 0;
margin-left: 5px;
}

ul#signinsignuptab.nav, ul#userprofiletabs.nav, ul#settingstabs.nav
{
margin-bottom: 0 !important;
}

ul#signinsignuptab.nav li.active a, ul#userprofiletabs.nav li.active a, ul#settingstabs.nav li.active a
{
background: #f5f0e7;
}

ul#signinsignuptab.nav.nav-tabs > li > a 
{
margin-right: 0px;
}

#signinsignuptab.side-by-side li h4
{
font-size: 24px;
}

#signinsignuptab.side-by-side li {
text-align: left;
float: left;
list-style-type: none;
padding-bottom: 5px;
}

#signin.side-by-side {
float: left;
width: 46%;
border-right: solid 1px #dad7c1;
margin-right: 25px;
padding-right: 20px;
padding-left: 20px;
}

#signup.side-by-side
{
padding-left: 0px;
float: left;
width: 40%;
}

#tabcontent
{
background: #f5f0e7;
padding: 10px;
border-right: 1px solid #dad7c1;
border-left: 1px solid #dad7c1;
border-bottom: 1px solid #dad7c1;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover
{
border-top: 1px solid #dad7c1;
border-left: 1px solid #dad7c1;
border-right: 1px solid #dad7c1;
}

.side-by-side form input[type="text"], .side-by-side form input[type="password"], .side-by-side form textarea
{
width: 80%;
}


/* Autocomplete styles */

span.ui-helper-hidden-accessible
{
display: none;
}

.ui-autocomplete
{
width: 260px !important;
}

.ui-autocomplete li.ui-menu-item
{
list-style-type: none;
padding: 0;
margin: 0;
}

.ui-autocomplete li.ui-menu-item a
{
display: block;
list-style-type: none;
padding: 5px 7px;
margin-bottom: 2px;
background: #f6f6f6;
color: #A62121;
border-bottom: dotted 1px #999;
}

.ui-autocomplete li.ui-menu-item a:hover, .ui-autocomplete li:hover
{
background: #f6f6f6;
color: #A62121;
}

.navbar.navbar-static-top
{
margin-bottom: 20px;
}

/* thankyou form styles */

.no-js #categories-accordion .collapse
{
height: auto;
}

.categories
{
margin-bottom: 20px;
}

.categories label
{
border-bottom: dotted 1px #dad7c1;
padding-top: 5px;
padding-bottom: 5px;
}

.categories label:hover
{
background-color: #fcf8e3;
}

/* Permalink styles */

#pin-alert label, #pin-alert select
{
margin-right: 10px;
}


